
        .containterCenter {
            text-align: center;
            }

        .bodyCenter {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20;
        }

        .formCenter {
            margin-bottom: 20px;
        }

        .formCenter {
            margin-bottom: 10px;
        }