<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ForexApp-Strona główna</title>
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>
    <!-- Email input -->
    <div class="form-outline mb-4">
        <input type="email" id="email" class="form-control" th:field="*{email}"
               placeholder="Email"
               th:errorclass="is-invalid"/>
        <label class="form-label" for="email">Adres email</label>
    </div>


    <!-- Password input -->
    <div class="form-outline mb-4">
        <input type="password" id="password" class="form-control" th:field="*{password}"
               placeholder="Hasło"
               th:errorclass="is-invalid"/>
        <label class="form-label" for="password">Hasło</label>
    </div>


    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
        Zarejestruj się
    </button>
</form>

</body>
</html>