<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ForexApp-Oblicz transakcje </title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            background-color: #f4f4f4;-->
<!--            display: flex;-->
<!--        }-->

<!--        nav {-->
<!--            background-color: #333;-->
<!--            padding: 20px;-->
<!--            text-align: center;-->
<!--            height: 100vh; /* Ustawia wysokość paska nawigacyjnego na 100% wysokości widoku */-->
<!--            width: 200px; /* Ustawia szerokość paska nawigacyjnego */-->
<!--            box-sizing: border-box;-->
<!--        }-->

<!--        nav a {-->
<!--            display: block; /* Każdy link jest osobnym blokiem, co oznacza, że będą one wyświetlane jeden pod drugim */-->
<!--            color: white;-->
<!--            text-decoration: none;-->
<!--            padding: 10px;-->
<!--            margin-bottom: 10px;-->
<!--        }-->

<!--        main {-->
<!--            flex: 1; /* Pozostała przestrzeń zajmowana przez główną treść strony */-->
<!--            padding: 20px;-->
<!--        }-->
<!--    </style>-->
</head>
<body>

<nav>
    <a href="#">Strona główna</a>
    <a href="#">O nas</a>
    <a href="#">Usługi</a>
    <a href="#">Kontakt</a>
</nav>

<main>
<form th:action="@{/addTransactions}" th:object="${newTransacDTO}" method="post">
    <table>
            <td>
                <input type="date" step="=1" id="dateTransaction" th:field="*{dateTransaction}" required><br><br>
            </td>
            <td>
                <label for="codeCurrency">Waluta:</label>
                <select id="codeCurrency" th:field="*{codeCurrency}" required>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select><br><br>
            </td>
            <td>
                <input type="number" step="0.0001" id="valueCurrency" th:field="*{valueCurrency}" required><br><br>
            </td>
        </tr>
    </table>
    <button type="submit" name="action" value="add"> DODAJ </button>
</form>

</main>

                <table>
                    <thead>
                    <tr>
                        <th>Data transakcji</th>
                        <th>Kod waluty</th>
                        <th>Wartość transakcji</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${transacDTOList.empty}">
                        <td colspan="2"> No Transactions Available </td>
                    </tr>
                    <tr th:each="transacDTO : ${transacDTOList}">
                        <td th:text="${transacDTO.getDateTransaction()}"></td>
                        <td th:text="${transacDTO.getCodeCurrency()}"></td>
                        <td th:text="${transacDTO.getValueCurrency()}"></td>
                    </tr>
                    </tbody>
                </table>

            <form method="post" th:action="@{/calculateTransactions}" th:object="${transacDTOList}">
            <button type="submit">OBLICZ</button>
        </form>
<!--        <button><a th:href="@{/}"> Strona główna </a></button>-->
</body>
</html>
