<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ForexApp-Oblicz transakcje </title>
    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

<nav>
    <a href="#">Strona główna</a>
    <a href="#">O nas</a>
    <a href="#">Usługi</a>
    <a href="#">Kontakt</a>
</nav>

<main>
<form th:action="@{/addTransactions}" th:object="${newTransacDTO}" method="post">
    <table>
            <td>
                <input type="date" step="=1" id="dateTransaction" th:field="*{dateTransaction}" required><br><br>
            </td>
            <td>
                <label for="codeCurrency">Waluta:</label>
                <select id="codeCurrency" th:field="*{codeCurrency}" required>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                </select><br><br>
            </td>
            <td>
                <input type="number" step="0.0001" id="valueCurrency" th:field="*{valueCurrency}" required><br><br>
            </td>
        </tr>
    </table>
    <button type="submit" name="action" value="add"> DODAJ </button>
</form>
</main>
                <table>
                    <thead>
                    <tr>
                        <th>Data transakcji</th>
                        <th>Kod waluty</th>
                        <th>Wartość transakcji</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${transacDTOList.empty}">
                        <td colspan="2"> No Transactions Available </td>
                    </tr>
                    <tr th:each="transacDTO : ${transacDTOList}">
                        <td th:text="${transacDTO.getDateTransaction()}"></td>
                        <td th:text="${transacDTO.getCodeCurrency()}"></td>
                        <td th:text="${transacDTO.getValueCurrency()}"></td>
                    </tr>
                    </tbody>
                </table>

            <form method="post" th:action="@{/calculateTransactions}" th:object="${transacDTOList}">
            <button type="submit">OBLICZ</button>
        </form>
</body>
</html>
