<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <title>ForexApp-Formularz transakcji </title>

    <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<nav>
    <a href="/">Strona główna</a>
    <a href="/singleTransaction">Oblicz pojedynczą transakcje</a>
    <a href="/manyTransactions">Oblicz wiele transakcji</a>
    <a href="/readerFile">Wczytaj plik</a>
</nav>
<form action="#" th:action="@{/singleTransaction}" th:object="${transacDTO}" method="post">
    <div class="mb-3">
        <label for="dateTransaction" class="form-label">Data</label>
        <input type="date" class="form-control" min="2022-12-31" th:max="${day}" id="dateTransaction" th:field="*{dateTransaction}"  th:errorclass="is-invalid" required>
    </div>
    <label for="codeCurrency">Waluta:</label>
    <select id="codeCurrency" th:field="*{codeCurrency}" required>
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
    </select><br>
    <label for="valueCurrency">Wartość transakcji:</label>
    <input type="number" step="0.0001" min="0.0001" id="valueCurrency" th:field="*{valueCurrency}"  th:errorclass="is-invalid" required><br>
    <button type="submit">Zatwierdź</button>
</form>
    <div th:if="${transac!= NULL}">
        <table>
            <tr>
                <td>Identyfikator transakcji:</td>
                <td th:text="${transac.getId()}"></td>
            </tr>
            <tr>
                <td>Data transakcji:</td>
                <td th:text="${transac.getDateTransaction()}"></td>
            </tr>
            <tr>
                <td>Kod waluty:</td>
                <td th:text="${transac.getCodeCurrency()}"></td>
            </tr>
            <tr>
                <td>Kurs w PLN:</td>
                <td th:text="${transac.getValuePln()}"></td>
            </tr>
            <tr>
                <td>Wartość transakcji:</td>
                <td th:text="${transac.getValueCurrency()}"></td>
            </tr>
            <tr>
                <td>Przeliczenie transakcji:</td>
                <td th:text="${transac.getResultTransaction()}"></td>
            </tr>
        </table>
    </div>
    <div th:if="${transac == NULL}">
    <button onclick="history.back()">Go back</button>
    </div>
    <div th:if="${transac != NULL}">
        <button><a th:href="@{/}">Go back</a></button>
    </div>
</body>
</html>


